div.infobox {
margin: 15px;
}
.infobox {
position: relative;
padding: 15px;
text-align: center;
color: #fff;
background: rgba(0,0,0,0.8);
border: 2px solid black;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
/*start of styling for divs*/
#map {
  width: 100%; 
  height: 825px;
}

#graph1 {
  margin-top: -70px;
  background-color: blue;
  width: 100%;
  height: 825px;
}

#graph2 {
  width: 100%;
  height: 800px;
}

/*end of styling for divs*/

/*start of styling for scrolling (arrows)*/

.arrow {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  filter: invert(1);
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  -ms-filter: invert(1);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.arrow:hover {
  opacity: 0.5;
}

#down1 {
  position: absolute;
  top: 680px;
  margin-left: 43%;
  z-index: 9999;
  background-image: url("arrow_down.png");
 }  

 #down2 {
  position: absolute;
  top: 1470px;
  margin-left: 43%;
  z-index: 9999;
  background-image: url("arrow_down.png");
 }  
 
 #up1 {
  position: absolute;
  top: 880px;
  margin-left: 43%;
  z-index: 9999;
  background-image: url("arrow_up.png");
 } 

 #up2 {
  position: absolute;
  top: 1650px;
  margin-left: 43%;
  z-index: 9999;
  background-image: url("arrow_up.png");
 } 

/*end of styling for*/